/* page welcome */
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Asap', sans-serif;
    height: 100vh;
    margin: 0;
  }
  .full-height {
    height: 100vh;
  }
 .logotype{
    height:80%;
    width:auto;
    margin-top: 2%;
 }
 .fadein {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  .content {
    text-align: center;
  }
  .title {
    font-family: 'Faustina', serif;
    font-size: 84px;
  }
  .links > a {
    color: #09b6d4;
    padding: 0 100px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  a {
    color: #09b6d4;
  }
  .m-b-md {
    height: 180px;
    margin-bottom: 30px;
    background:#9fd0e9;
    color: black;
  }
  .lien_connexion{
    float: right;
  }
  .text-justify{
    margin: 2% 0 3% 5%;
    width: 80%;
  }
  .actualite{
    width: 70%;
    margin-left:3%;
  }
  .fil-actualite{
    display: flex;
  }
  iframe{
    margin-right: 2%;
  }
  h3{
    margin-left: 3%;
    margin-top:5%;
    font-family: 'Faustina', serif;
    font-weight: bold;
    color: #4c98be;
  }
  .main-card{
    display: flex;
    margin: 70px;
  }
  .flip-card {
    width: 300px;
    height: 200px;  
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-left: 120px;
    margin-bottom: 30px;
    
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background:#4c98be;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color:#636b6f;
  }
  
  /* Style the back side */
  .flip-card-back {
    font-size: 14px;
    color: white;
    transform: rotateY(180deg);
  }

  /*FORMULAIRE*/
  .main-form{
    display: flex;
  }
  .main{
    width: 40%;
    margin: 0 0 0 5%;
  }
  .main-coordonnees{
    width: 40%;
    margin: 0 0 0 10%;
  }
  .main >img {
    height: 250px;
    width: auto;
  }
  .information{
    font-size: 32px;
  }
  .Titre-coordonnées{
    font-size: 32px;
  }
  textarea{
    height: 150px;
    width: 100%;
    resize: none;
}
  footer{
    margin-top: 5%;
    height: 100px;
    background: #9fd0e9;
  }
  .form-check-label{
    margin: 0 10px; 
  }
  .main-renseignement{
    margin: 5%;
    display: flex;
  }
  .Coordonnées{
    margin: 20% 0 0 180px;
    font-size: 20px;
  }
  .icone{
    padding-left: 48%;
    padding-top: 1%;
  }
  .mentions{
    margin: 10px;
    text-align: center;
  }
  .map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;>
    height:0;
    }
    
    .map-responsive iframe {
      margin-top: 5%;
    left:0;
    top:10;
    height:100%;
    width:100%;
    position:absolute;
    }
    
  @media only screen and (max-width: 900px)
  {
    .card{
      width: 10%;
    }
    h1{
      font-size: 16px;
    }
    .main-renseignement
    {
      display: block;
    }
    p{
      font-size: 10px;
    }
    .Titre-coordonnées{
      margin: 0 0 0 0;
    }
    .Titre-coordonnées ,.Information{
      font-size: 20px;
    }
    .main{
      width: 70%;
    }
    .m-b-md{
      height:100px;
    }
    .m-b-md > img {
      height: 100px;
      width: auto;
    }
  }
  @media only screen and (max-width: 600px)
  {
    .card{
      width: 15%;
    }
    .actualite{
      width: 90%;
    }
    .fil-actualite{
      display: block;
      
    }
    .fil-actualite iframe{
      margin: 0 0 0 25%;
    }
    .main-coordonnees{
      width: 70%;
    }
  }

  /*page enseignant */
  .menu {
    text-align: center;
    font-family: 'Asap', sans-serif;
  }
  .card-wrapper{
    height:400px;
    width:300px;
    perspective: 1000px;
}

.card{
    position: relative;
    width:100%;
    height:100%;
    text-align:center;
    transition:transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 12px #555;
}
.card-wrapper:hover .card {
    transform: rotateY(180deg);
    transition: 1s;
}

.face-front, .face-back{
   position: absolute;
   width: 100%;
   height: 100%; 
   background-color:#fff;
   color: black;
}

.face-back{
    transform: rotateY(180deg);
}

.name{
    font-family: 'Faustina', serif;
}

.texte{
    font-family: 'Asap', sans-serif;
}

/* page règlement */ 
h4{
    margin-top: 3%;
    padding-left:3%;
    font-family: 'Faustina', serif;
}

.reglement{
padding-left:3%;
padding-right: 3%;
margin-top: 2%;
font-family: 'Asap', sans-serif;
}

/*page mentions*/

.h4{
    margin-top: 3%;
    padding-left:3%;
    font-family: 'Faustina', serif;
}